<div data-role="page" id="login-p">
  <div data-role="header">
    <h1>Log in to Play Ball of Wax</h1>    
  </div><!-- /headerp -->
  <div data-role="content">
    <h1>Log in to Play Ball of Wax</h1>
      <a data-ajax="false" class="browser-id" data-role="button" href="">Log in</a>
      <div id="login-progress" style="display: none">Loading</div>
    <p>Ball of Wax Terms of Service and Privacy Policy.</p>
  </div><!-- /content -->
</div><!-- /page -->