    <div class="insert-page-1">
      <h1>Ball of Wax</h1>
      <div class="subtitle">Audio Quarterly</div>
      <h2><%= vol_data.subtitle %></h2>
      <p class="volume-description">This volume is dedicated to life on the train.</p>
      <p class="edited-by"><%= vol_data.edited  %></p>
      <p class="mastered-by">Mastered by Josh Engelhardt</p>
      <p class="rights">Rights to all works herein are owned by their creators.</p>
      <p class="submissions">Please mail submissions to:<br />
      Levi Fuller, P.O. Box 30712<br />
      Seattle, WA 98113-0712</p>

    </div><!-- ui-block-b -->

<!--
      <p>Volume 1 is dedicated to life on the train.</p>

      <div class="import-tracks">
        <img src="" />
        <p><a href="">Import all tracks</a> into iTunes or another music player.</p>
        <p>Download will start immediately and give you a zip file containing all the tracks.</p>
      </div>

-->
