<div data-role="page" id="volume-p">
  <div data-role="header">
    <a href="" data-rel="back">Audio Quarterly</a>
    <h1><%= title %></h1>
    <%- partial('widget/_play') %>
  </div><!-- /header -->

  <div data-role="content" class="ui-grid-a">
    <div class="ui-block-a">
      <div class="volume-info"></div>
      <a href="tracks/"><img class="cover" src="cover.jpg" /></a>
    </div><!-- ui-block-a -->


    <div class="ui-block-b">
      <ol id="track-nav">
        <li><a data-ajax="false" 
               href="../overview/"
               >Overview</a></li>
        <% for (var i=0; i < vol_data.tracks.length; i += 3) { %>
          <li><a data-ajax="false" href="<%= vol_data.tracks[i + 1] %>"
                 ><%= vol_data.tracks[i] %></a></li>
        <% } %>
      </ol>
    </div><!-- ui-block-b -->
  </div><!-- /content -->

  <!-- div data-role="footer" data-position="fixed">
    <h4>Ball of Wax Audio Quarterly is Copyright Levi Fuller 2004-2012</h4>
  </div --><!-- /footer -->

</div><!-- /page -->