<div data-role="page" id="volume-p">
  <div data-role="header">
    <a href="" data-rel="back">Audio Quarterly</a>
    <h1 data-volume-num="<%= vol_num %>"><%= title %></h1>
    <%- partial('widget/_play') %>
  </div><!-- /header -->

  <div data-role="content" class="ui-grid-a">
    <div class="ui-block-a">
      <div class="volume-info"></div>
      <a href="tracks/"><img class="cover" src="cover.jpg" /></a>
    </div><!-- ui-block-a -->

    <div class="ui-block-b">
      <a href="tracks/">
        <ol id="track-nav">
        <% for (var i=0; i < vol_data.tracks.length; i += 3) { %>
          <li><%= vol_data.tracks[i] %></li>
        <% } %>
      </ol>
    </div><!-- ui-block-b -->
  </div><!-- /content -->

  <!-- div data-role="footer" data-position="fixed">
    <h4>Ball of Wax Audio Quarterly is Copyright Levi Fuller 2004-2012</h4>
  </div --><!-- /footer -->

</div><!-- /page -->