#catalog-p {
  ol.shelf {
    li {
      float: left;
      list-style: none;
      margin: 15px;

      .cover-thumb {
        background-color: tan;
        width: 140px;
        height: 182px;
      }

      .bow-cover-thumb {
        width: 260px;
        img {
          float: left;
        }
        .title { 
          margin-left: 150px;
          padding-bottom: 5px;
          float: left;
        }
        ol {
          padding-left: 11px;
          max-height: 150px;
          overflow: hidden;
          float: left;
          li {
            display: inline-block;
            font-size: 10px;
            margin: 0px;
            width: 100%;
          }
        }
      }/* .bow-cover-thumb */


    }
  }
}