#catalog-p ol.shelf li {
  float: left;
  list-style: none;
  margin: 15px;
  /* .bow-cover-thumb */

}
#catalog-p ol.shelf li .cover-thumb {
  background-color: tan;
  width: 140px;
  height: 182px;
}
#catalog-p ol.shelf li .bow-cover-thumb {
  /* border: solid 1px red;*/

  height: 182px;
  width: 260px;
}
#catalog-p ol.shelf li .bow-cover-thumb img {
  float: left;
}
#catalog-p ol.shelf li .bow-cover-thumb .title {
  margin-left: 145px;
  padding-bottom: 5px;
  /* float: left; */

}
#catalog-p ol.shelf li .bow-cover-thumb ol {
  max-height: 150px;
  overflow: hidden;
  padding-left: 5px;
  margin-left: 1px;
}
#catalog-p ol.shelf li .bow-cover-thumb ol li {
  font-size: 10px;
  margin: 0px;
  width: 100px;
  padding-left: 0px;
}
