#tracks-p {
  [data-role=content] {

    /* background-color: tan; */

    div.artist {

      text-align: center;

      img {
        background-color: #AAA;
        height: 300px;
        margin-top: 50px;
        width: 300px;
      }
    }
    #track-nav {
      .active {
        background-color: white;
      }
    }
    #track-view {
      background-color: white;
      min-height: 500px;
    }
  }
}