#tracks-p {
  [data-role=content] {

    /* background-color: tan; */

    div.artist {

      text-align: center;

      img {
        background-color: #AAA;
        height: 300px;
        margin-top: 50px;
        width: 300px;
      }
    }
    #track-nav {
      .active a {
        background-color: white;
      }
      text-align: right;
      padding-right: 10px;
    }
    #track-view {
      font-family: Courier, monospaced;
      background-color: white;
      min-height: 500px;
      padding: 20px;      
    }
  }
}