#tracks-p [data-role=content] {
  /* background-color: tan; */

}
#tracks-p [data-role=content] div.artist {
  text-align: center;
}
#tracks-p [data-role=content] div.artist img {
  background-color: #AAA;
  height: 300px;
  margin-top: 50px;
  width: 300px;
}
#tracks-p [data-role=content] #track-nav .active {
  background-color: white;
}
#tracks-p [data-role=content] #track-view {
  background-color: white;
  min-height: 500px;
}
