.cover {
  height: 700px;
  width: 538px;
  background-color: tan;
}
.import-tracks img {
  background-color: #AAA;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
div[data-role=content] ol {
  clear: both;
}
#track-nav li {
  list-style: none;
}
#track-nav li .active {
  background-color: white;
}
