.cover {
  height: 700px;
  width: 538px;
  background-color: tan;
}
.import-tracks {
  position: absolute;
  /*  float: left; */

  margin-left: 60%;
  margin-top: -30px;
  width: 30%;
}
.import-tracks img {
  background-color: #AAA;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
div[data-role=content] ol {
  clear: both;
}
