.cover {
  width: 480px;
  /*  height: 700px;

  background-color: tan;
*/

}
.import-tracks img {
  background-color: #AAA;
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
#volume-p div[data-role=content] {
  background-color: tan;
}
div[data-role=content] ol {
  clear: both;
}
#track-nav li {
  list-style: none;
}
#track-nav li .active {
  background-color: white;
}
.insert-page-1 {
  /* padding-left: 30px; */

  text-align: center;
  font-family: courier;
  background-color: #FFF;
}
.insert-page-1 h1 {
  margin-top: 100px;
  margin-bottom: 0px;
}
.insert-page-1 .volume-description {
  margin-top: 100px;
  margin-bottom: 30px;
}
.insert-page-1 .edited-by {
  margin-top: 30px;
  margin-bottom: 0px;
}
.insert-page-1 .mastered-by {
  margin-top: 0px;
  margin-bottom: 30px;
}
