<a href="/licensing/pay.html" data-rel="dialog" class="ui-btn-right"><%= play_btn_label %></a>
<div id="jquery_jplayer_1"></div>
<div id="jp_interface_1">
  <a data-ajax="false" href="#" class="jp-play">Play</a>
  <a data-ajax="false" href="#" class="jp-pause">Pause</a>
</div>
<a id="auth">mp3 auth</a>