<!-- 
<span class="email-address">
<% if (user) { %>
  <%= user %></span> <a data-ajax="false" href="/logout" data-role="button">Logout</a>
<% } else { %>
</span>
<% } %>
-->
<a id="mp3-auth" href="licensing/pay.html" 
   data-ajax="false" class="ui-btn-right"
   ><%= play_btn_label %></a>
<div id="jquery_jplayer_1"></div>
<div id="jp_interface_1">
  <a data-ajax="false" href="#" class="jp-play">Play</a>
  <a data-ajax="false" href="#" class="jp-pause">Pause</a>
</div>
<!-- a data-ajax="false">mp3 auth</a -->